*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --accent-color: #e74c3c;
    --font-family: 'Arial', sans-serif;
}

body{
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--main-color);
    line-height: 1.6;
}

h1, span{
    color: var(--main-color);
}

input[type="number"]{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    font-size: 16px;
}

button{
    background-color: var(--accent-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 40px;
    height: 40px;;
}
button:hover{
    background-color: #c0392b;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spacer{
    height: 50px;
}

#result{
    margin-top: 300px;
    font-size: 24px;
}

.error{
    color: var(--accent-color);
    font-size: 18px;
    margin-top: 20px;
}