header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
  list-style-type: none;
  display:flex;
  /* width: 50%; */
  justify-content: flex-end;
  /* margin: 0 auto; */
}

ul > li{
    margin: 0 10px;
}